// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = Oncle Bob

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = dev.xmit.bob

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2025 xmit. All rights reserved.
